<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Picture</th>
              <th>Selling location</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |request| %>
              <tr>
                <td><%= link_to request.name, request_path(request) %></td>
                <td><%=  request.description %></td>
                <td class="centered"><%= image_tag request.picture_url, height: 64, width: 64 %></td>
                <td><%= Location.find_by_id(request.selling_location_id).name %></td>
                <td class="centered" style="vertial-align: middle">
                    <h4>
                      <span class="label <%= status_color_for(request.status_to_s) %>">
                        <%= request.status_to_s %></span>
                    </h4>
                </td>
                <td align="center" class="text-left">
                  <%= link_to request_path(request), class:"btn btn-default", 
                    data: {toggle: "tooltip", placement: "top"},
                     title: "Go to request" do %>
                     <span class="glyphicon glyphicon-search"></span>
                   <% end %>
                  <%= link_to edit_request_path(request), class:"btn btn-default", 
                    data: {toggle: "tooltip", placement: "top"},
                     title: "Edit" do %>
                     <span class="glyphicon glyphicon-pencil"></span>
                   <% end %>
                   <%= form_tag cancel_request_manage_request_path(request), 
                     method: "post", class: "inline", remote: true do %>
                    <%= button_tag(type: "submit", class: "btn btn-default", 
                      data: {toggle: "tooltip", placement: "top", confirm: "Are you sure?"},
                      title: "Cancel") do %>
                     <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                   <% end %>

                 </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
