<%= flash_messages %>
<div class="row">
  <div class= "col-sm-6">
    <%= link_to "New Request", '/new_request/', class: "btn btn-success" %>
  </div>
  <div class="col-sm-6">
    <%= link_to "Browse for new offer", requests_path, class: "btn pull-right btn-primary" %>
  </div>
</div>
<hr>
<h2 class="text-center">
  Your Request
</h2>
<%= render 'request_table' %>
<h2 class="text-center">
  Your Offer
</h2>
<%= render 'offer_table' %>

