<%= flash_messages %>
<div class="body-container">
  <div class="col-xs-12">
    <div class="slogan">
      <h1 class="text-center">Easy Carry</h1>
      <h4 class="text-center">Buy stuffs your way</h4>
    </div>
  </div>

    <%= form_tag root_path, method: :get do %>
        <div class="input-group col-xs-6 col-xs-offset-3">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </div>
          <%= text_field_tag :search,'', class:"form-control",
                             placeholder: "Looking for something?" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class:"btn btn-default" %>
          </span>
        </div>
    <%end%>
</div>

<% @requests.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.each do |request| %>
          <% if request %>
            <%= render request %>
          <% end %>
      <% end %>
    </div>
<% end %>

