<%= flash_messages %>

<%= render "shared/filter" %>
<div class="body-container">
  <div class="col-xs-12">
    <div class="slogan">
      <h1 class="text-center">Simple Carry</h1>
      <h4 class="text-center">Buy stuffs your way</h4>
    </div>
  </div>
  <center class="text-center">
    <form class="form-inline">
      <div class="form-group">
        <%= form_tag "/search", method: :get do %>
            <%= label_tag :search, "Search for:" %>
            <%= text_field_tag(:search) %>
            <%= submit_tag("Search") %>
        <% end %>
      </div>
    </form>
  </center>
</div>

<%= render @requests %>

