<hr/>
<%= flash_messages(@request) %>
<button class="btn btn-success"
        data-toggle="modal" data-target="#deposit-modal">
  Deposit Money
</button>
<form method="post" action="<%= cancel_request_request_path(@request) %>" class="btn-form">
  <%= token_tag %>
  <button type="submit" class="btn btn-danger">Cancel Request</button>
</form>

<!--BEGIN deposit dialog-->
<div class="modal fade" id="deposit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <form method="post" action="<%= deposit_request_path(@request) %>" id="deposit-form">
      <%= token_tag %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Deposit Money</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default credit-card-box">
            <div class="panel-heading display-table">
              <div class="row display-tr">
                <h3 class="panel-title display-td">Payment Details</h3>
                <div class="display-td">
                  <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 payment-errors"></div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="cardNumber">CARD NUMBER</label>
                    <div class="input-group">
                      <input type="tel" value="4242424242424242"
                             class="form-control"
                             data-stripe="number"
                             size="20"
                             placeholder="Valid Card Number"/>
                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="form-group">
                    <label for="cardExpiry">
                      <span class="hidden-xs">EXPIRATION</span>
                      <span class="visible-xs-inline">EXP</span>
                      MONTH
                    </label>
                    <input type="text" maxlength="2" class="form-control" id="cardExpiry" data-stripe="exp-month" value="12"/>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="form-group">
                    <label for="cardExpiry">
                      <span class="hidden-xs">EXPIRATION</span>
                      <span class="visible-xs-inline">EXP</span>
                      YEAR
                    </label>
                    <input type="text" maxlength="4" class="form-control" data-stripe="exp-year" value="2020"/>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="form-group">
                    <label for="cardCVC">CVC</label>
                    <input type="text" maxlength="3" class="form-control" id="cardCVC" data-stripe="cvc" value="123"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Confirm</button>
          <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--END deposit dialog-->