<%= render 'traveller_info' %>

<% if current_user %>
    <% if @request.can_make_deposit?(current_user) %>
        <%= render 'deposit_form' %>
    <% elsif @request.can_make_purchase?(current_user) %>
        <%= render 'item_bought_form' %>
    <% elsif @request.can_make_deliver?(current_user) %>
        <form method="post" action="<%= item_delivered_request_path(@request) %>" class="btn-form">
          <%= token_tag %>
          <button type="submit" class="btn btn-success">Delivered!</button>
        </form>
    <% end %>
<% else %>
    <hr/>
    <a href="<%= new_user_session_path %>" class="btn btn-success">Sign in to see more</a>
<% end %>