<%= render 'traveller_info' %>

<% if current_user %>
    <% if @request.can_make_deposit?(current_user) %>
        <%= render 'deposit_form' %>
    <% elsif @request.can_make_purchase?(current_user) %>
        <%= render 'item_bought_form' %>
    <% elsif @request.can_make_deliver?(current_user) %>
        <%= render 'item_delivered_form' %>
    <% elsif @request.can_give_review?(current_user) %>
        <%= render 'review_form' %>
    <% end %>
<% else %>
    <hr/>
    <a href="<%= new_user_session_path %>" class="btn btn-success">Sign in to see more</a>
<% end %>