<nav class="navbar navbar-default bg-faded" id="navlink">
  <a href="/"><img class="navbar-brand" src="/easycarry6.png"></a>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="<%= travel_plans_path %>">Browse</a>
    </li>
    <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                              role="button" aria-haspopup="true" 
                                              aria-expanded="false">
            Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/new_request">New request</a></li>
            <li><a class="nav-link" href="<%= new_travel_plan_path %>">New Travel Plan</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Your requests and offers', '/manage/request', 
              class:"nav-link" %></li>
            <li><%= link_to 'Your trips', '/manage/trip', 
              class:"nav-link" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <a id='nav-inbox-link' class="nav-link" href="<%= inbox_path %>">Inbox </a>
        </li>
    <% end %>
    <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
    <% end %>
    <% if not user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Login/Register</a>
        </li>
    <% end %>
  </ul>
</nav>
