<!DOCTYPE html>
<html>
<head>
  <title>Simplecarry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand " href="/"><img src="assets/simple carry.png" width="150px" height="30px"></a>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item active">
      <a class="nav-link" href="#">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%=link_to "Register", new_user_registration_path%></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Login", new_user_session_path%></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
  </ul>
  </nav>

<%= yield %>
<div class="footer">
  <div class="container sb-slide">
    <p class="contactUs"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;72 Lê Thánh Tôn, Phường Bến Thánh, Q1, HCMC, VietNam</p>
    <p class="contactUs"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;+84 90 674 8189</p>
    <p class="contactUs"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<a href="">support@simple.com</a></p><br>
  </div>
  </div>
</body>
</html>
